﻿@page "/inscription"

@inject NavigationManager NavigationManager
@inject InscriptionService inscriptionService
@inject AuthenticationStateProvider authStateProvider

<div class="container">
    <h3>Registration</h3>

    <EditForm Model="@inscriptionModel" OnValidSubmit="HandleSignUp">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <InputText @bind-Value="inscriptionModel.Username" type="name" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <InputText @bind-Value="inscriptionModel.Email" type="email" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <InputText @bind-Value="inscriptionModel.Password" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </EditForm>
</div>

@code {
    private InscriptionModel inscriptionModel = new InscriptionModel();
    private string ErrorMessage = "";

    private async void HandleSignUp()
    {
        var user = await inscriptionService.SignUpUserAsync(inscriptionModel.Username, inscriptionModel.Password, inscriptionModel.Email);
        if (user != null)
        {
            //
            // await ((CustomAuthenticationStateProvider)authStateProvider).NotifyAuthenticationStateChanged();
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            ErrorMessage = "Signup failed !!";
        }
    }

    private class InscriptionModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
        public string Email { get; set; } = "";
    }
}
