﻿@page "/task"
@inject Front.Services.TaskService taskService
@inject NavigationManager NavigationManager

<h3 class="mt-3">Task</h3>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="@taskModel" OnValidSubmit="HandleTaskCreate">
                <div class="mb-3">
                    <label for="text" class="form-label">Task Text</label>
                    <InputText id="text" class="form-control" @bind-Value="taskModel.Text" />
                </div>
                <div class="form-check mb-3">
                    <InputCheckbox id="isDone" class="form-check-input" @bind-Value="taskModel.IsDone" />
                    <label for="isDone" class="form-check-label">Is Done</label>
                </div>
                <button type="submit" class="btn btn-primary">Add Task</button>
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <p class="text-danger mt-2">@ErrorMessage</p>
                }
            </EditForm>
        </div>
    </div>

    <!-- Display the list of tasks -->
    @if (tasks != null && tasks.Any())
    {
        <div class="row mt-4">
            <div class="col-md-6">
                <h5>Task List</h5>
                <ul class="list-group">
                    @foreach (var task in tasks)
                    {
                        <li class="list-group-item">@task.Text</li>
                    }
                </ul>
            </div>
        </div>
    }
</div>


@code {

    private TaskModel taskModel = new TaskModel();
    private string ErrorMessage = "";
    private IEnumerable<Front.Entities.TaskDTO> tasks;

    private async void HandleTaskCreate()
    {
        var task = await taskService.CreateTaskAsync(taskModel.Text, taskModel.IsDone);
        if (task != null)
        {
            var result = await taskService.GetTaskAsync();

            // Check if the result is an ActionResult with a value
            if (result != null )
            {
                // Extract the IEnumerable<Front.Entities.Task> from the ActionResult
                tasks = result;
            }
            else
            {
                ErrorMessage = "Task list retrieval failed !!";
            }
        }
        else
        {
            ErrorMessage = "Task creation failed !!";
        }
    }


    private class TaskModel
    {
        public string Text { get; set; } = "";
        public bool IsDone { get; set; }
    }

    private async void HandleTaskUpdate()
    {
        
    }

}
